.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 4s;
}

.ex-1-square:hover{
  background-color: red;

}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 5s;
}

.ex-3-square:hover{
  border-radius: 100%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 4s;
}
.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 3s;
}

.ex-5-square:hover {
  /* width: 80px; unico modo per non far aumentare il padre, ma limitante
  height: 80px;
  margin: 10px; */
  transform: scale(1.5);
}

.ex-5-square:active {
  transform: scale(0.75)
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
  filter: grayscale(100%);
}

.ex-7-img, .ex-8-img{
  transition: 3s;
}

.ex-7-img:hover {
  filter: opacity(0.6) sepia(1);
}

.ex-8-img:hover {
  filter: contrast(0.5) saturate(0.5);
  border-radius: 5%;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 3s;
}

.ex-9-img:hover {
  filter: brightness(1) sepia(0.8);
  border-radius: 10%;
  transform: scale(0.9);
}
.ex-10-icon {
    font-size: 60px;

    animation: run 3s infinite;
}

@keyframes run {
  0% {transform: rotate(6turn);}
}
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
  animation: runthreequarters 1s linear;
}
@keyframes runthreequarters {

  80% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(0);
  }
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
  animation-name: top-white ;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes top-white {
  50% {
    left: calc(100% - 60px);
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: bottom-white;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes bottom-white {
  50% {
    right: calc(100% - 60px);
  }
}

.ex-13-button:hover .ex-13-top-white{
  animation-name: top-white-360°;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes top-white-360° {
  25% {
    left: calc(100% - 30px);
    top: -10px;

  40% {
    left: calc(100% - 30px);
    top: 100%;
  }
  65% {
    left: 0;
    top: 100%;
  }
  80% {
    left: -25px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: bottom-white-360°;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes  bottom-white-360°{

  25% {
    right: calc(100% - 30px);
    bottom:-10px;
  }
  40% {
    right: calc(100% - 30px);
    bottom:100%;
  }
  65% {
    right: 0;
    bottom: 100%;
  }
  80% {
    right: -25px;
    bottom: -10px;
  }
  100% {
    right: 10%;
    bottom: -10px;
  }
}
